

{% extends 'mgmbase.html' %}

{% block title %} Node Logs Archive Service {% endblock %}

{% block style%} 
<style> 
    .tooltip {
        border: 1px solid #000;
        border-radius: 8px;
        position: relative;
    }
    .tooltip .tooltip-inner {
        text-align: left;
        font-size: 14px;
        background: #000;
        padding: 10px;
        opacity: 1;
        border-radius: 8px;
        min-width: 300px;
    }
    .tooltip::after {
        position: absolute;
        content: "";
        top: 45%;
        right: 100%;
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-right: 5px solid #000;
        border-bottom: 5px solid transparent;
    }
</style>
{% endblock %}

{% block mgmContent %}
    {% set agentInfo = posts['agentInfoDict'] %}
    <ul class="list-group">
        <li class="list-group-item">
            <h3> Agent Log Directory Viewer </h3>
            <p> </p>
            <hr>
            <p> <b> Agent ID: </b><span class="badge bg-primary"> {{ agentInfo['ID'] }}</span>
                <b> Agent IP Address: </b> <span class="badge bg-secondary"> {{ agentInfo['IP'] }} </span>
            </p>
        </li>

        <li class="list-group-item">
            <div class="row">

                <div class="col-sm-6">
                    <h5> Agent Directory Tree: </h5>
                    <p> </p>   
                    <textarea class="form-control" style="font-family: monospace;" rows="25" id="resultContents" name="resultContents", value=""> {{ agentInfo['Dirtree'] }}
                    </textarea>
                </div>

                <div class="col-sm-6">
                    {% set subpath = posts['crtPathStr'] %}
                    {% set directories = posts['dirDict'] %}
                    {% set files = posts['filesList']%}
                    <p>
                        <h5 style="display: inline; margin-bottom: 10px"> Current working directory: </h5>
                        <span style="display: inline; margin-left: 5px;">
                            {% if subpath %}
                                {% set ns = namespace(url="") %}
                                {% set path_parts = subpath.split('/') %}
                                <a href="/">Root</a>
                                {% set ns.url = '/agent/' %}
                                {% for part in path_parts %}
                                    {% set ns.url = ns.url ~ '/' ~ part %}
                                    {% if not loop.last %}
                                        / <a href="{{ ns.url }}">{{ part }}</a>
                                    {% else %}
                                        / {{ part }}
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                Root
                            {% endif %}
                        </span>
                    </p>

                    <div class="info-search">
                        <h5>Folders in current directory: {{ directories|length }}</h5>
                        {% if directories|length > 10 %}
                        <input type="text" id="directory-input" class="search-input" onkeyup="filterLists()"
                            placeholder="Find folder in the current directory...">
                        {% endif %}
                    </div>

                    <div class="directory-section">
                        {% if directories %}
                            <ul id="directory-ul" class="item-list">
                                {% for directory, content in directories.items() %}
                                    <li> <a href="{{ subpath }}/{{ directory }}"
                                            data-bs-toggle="tooltip" data-bs-placement="right"
                                            data-bs-html="true"
                                            title="<p> {% autoescape false %} {{content}} {% endautoescape %}</p>">
                                            {{ directory }} </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p style="margin: 15px 0 15px 20px">No sub-directories.</p>
                        {% endif %}
                    </div>

                    <div class="info-search">
                        <h5>Files in current directory: {{ files|length }}</h5>
                        {% if files|length > 10 %}
                        <input type="text" id="file-input" class="form-control" onkeyup="filterLists()"
                            placeholder="Find file in the current directory...">
                        {% endif %}
                    </div>

                    <div class="file-section">
                        {% if files %}
                            <ul id="file-ul" class="item-list">
                                {% for file in files %}
                                    <li><a href="{{ subpath }}/{{ file }}" target="_blank">{{ file }}</a></li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p style="margin: 15px 0 15px 20px">No files available.</p>
                        {% endif %}
                    </div>
                </div>
    
            </div>
        </li>
    </ul>


    <script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
    })

    function filterLists() {
        var input1 = document.getElementById("directory-input");
        if (input1) {
            var filter1 = input1.value.toUpperCase();
            var ul1 = document.getElementById("directory-ul");
            var li1 = ul1.getElementsByTagName("li");

            for (var i = 0; i < li1.length; i++) {
                var a1 = li1[i].getElementsByTagName("a")[0];
                var txtValue1 = a1.textContent || a1.innerText;
                if (txtValue1.toUpperCase().indexOf(filter1) > -1) {
                    li1[i].style.display = "";
                } else {
                    li1[i].style.display = "none";
                }
            }
        }

        var input2 = document.getElementById("file-input");
        if (input2) {
            var filter2 = input2.value.toUpperCase();
            var ul2 = document.getElementById("file-ul");
            var li2 = ul2.getElementsByTagName("li");

            for (var j = 0; j < li2.length; j++) {
                var a2 = li2[j].getElementsByTagName("a")[0];
                var txtValue2 = a2.textContent || a2.innerText;
                if (txtValue2.toUpperCase().indexOf(filter2) > -1) {
                    li2[j].style.display = "";
                } else {
                    li2[j].style.display = "none";
                }
            }
        }
    }
    </script>

{% endblock %}
