{% extends 'mgmbase.html' %}

{% block title %} Node Agent Users Information List {% endblock %}

{% block style%} <style></style> {% endblock %}

{% block mgmContent %}
    <ul class="list-group">
        <li class="list-group-item">
            <h3> Users List </h3>
        </li>

        <li class="list-group-item">
            <button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#addUserCollapse" aria-expanded="false" aria-controls="addUserCollapse">
                + Add New User</button>

                {% if posts['message']  %}
                    <div class="alert alert-{{ posts['category'] }} alert-dismissible fade show" role="alert">
                        {{ posts['message'] }}
                          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}

            <div class="collapse" id="addUserCollapse">
                <div class="card card-body">

                    <form id="addUser" action="{{url_for('users')}}" method="post">
                        <div class="input-group">
                            <span class="input-group-text"><i class="bi-person-fill"></i></span>
                            <input id="user" type="text" class="form-control" name="user" placeholder="Username">

                            <span class="input-group-text"><i class="bi-lock-fill"></i></span>
                            <input id="password" type="password" class="form-control" name="password" placeholder="Password">
                            <span class="input-group-text"><i class="bi bi-eye-slash" id="togglePassword"></i></span>
                        </div>

                        <div class="input-group">
                            <span class="input-group-text"><i class="bi-pencil-fill"></i></span>
                            <input id="perms" type="text" class="form-control" name="perms" placeholder="Permission (Default = 'elradfmwM')">
                            <select class="form-select" multiple id="permslist" name="permslist" onchange="updatePermsField()">
                                <optgroup label="Read permissions">
                                    <option value="e">'e': Change directory</option>
                                    <option value="l">'l': List files</option>
                                    <option value="r">'r': Retrieve file from the server</option>
                                <optgroup label="Read permissions">
                                    <option value="a">'a': Append data to an existing file</option>
                                    <option value="d">'d': Delete file or directory</option>
                                    <option value="f">'f': Rename file or directory</option>
                                    <option value="m">'m': Create directory</option>
                                    <option value="w">'w': Store a file to the server</option>
                                    <option value="M">'M': Change file mode / permission</option>
                                    <option value="T">'T': Change file modification time</option>
                                </optgroup>
                            </select>

                            <button type="submit" class="btn btn-secondary">Add New User</button>
                        </div>
                    </form>
                </div>
            </div>
        </li>

        <li class="list-group-item">
            <table class="table table-dark table-bordered">
                <thead>
                    <tr class="table-primary">
                        <th>Login Username</th>
                        <th>Password</th>
                        <th>Permissions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user, info in posts['users'].items() %}
                        <tr>
                            <td>{{ user }}</td>
                            <td>{{ info['passwd'] }}</td>
                            <td>{{ info['perm']}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </li>
    </ul>
    <script>
        const togglePassword = document.querySelector('#togglePassword');
        const password = document.querySelector('#password');
        togglePassword.addEventListener('click', () => {
            event.preventDefault()
            const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
            password.setAttribute('type', type);
            togglePassword.classList.toggle('bi-eye');
            togglePassword.classList.toggle('bi-eye-slash');
        });
        function updatePermsField() {
            var selectElement = document.getElementById('permslist');
            var selectedOptions = Array.from(selectElement.selectedOptions);
            var selectedValues = selectedOptions.map(option => option.value);
            document.getElementById('perms').value = selectedValues.join('');
        }
    </script>
{% endblock %}